.box {
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: rgba(192, 185, 185, 0.747) */
}

.listBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

